.list {
  background-color: #fff;
}

.recomendation {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Cinzel', serif;
  display: flex;
  justify-content: center;
}

/* .loading {
  display: flex;
  justify-content: center;
} */

a {
  text-decoration: none;
  color: unset;
}

.cart td {
  padding: 10px 50px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.product-detail {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.detail-left {
  width: 40%;
}

.detail-left img {
  width: 100%;
}

.detail-right {
  width: 55%;
}

.detail-right ul li {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-size: 24px;
}

.container {
  margin-top: 35px;
  margin-bottom: 35px;
  /* border: 2px solid rgb(125, 123, 123); */
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
}

#root {
  background-color: #f8f9fa;
}

.product-detail {
  margin: 30px;
  background-color: white;
}

.title {
  padding-left: 40px;
  font-weight: bolder;
  font-size: 33px;
}

.description {
  width: 70%;
  margin-left: 40px;
  margin-top: 45px;
}

.buy {
  background: #ff4a4a;
  color: white;
  border: 2px solid #ff4a4a;
  box-shadow: 0 0 0 4px rgba(255 74 74 / 30%);
  border-radius: 20px;
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 350px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.buy:hover {
  background: #ff4a4a;
  color: white;
  /* font-weight: bolder; */
  border: 3px solid #ff4a4a;
  border-radius: 35px;
  box-shadow: 0 0 0 6px rgba(255 74 74 / 30%);
  font-size: 13px;
  text-transform: uppercase;
}

.root .active {
  border: 4px solid gold;
}